// Color

$bodyBg: #dcbb9a;
$briefBg: #fadcba;
$contentBg: #fff;
$hColor: #893c00;
$tableColor: #e0e0e0;
$linkColor: #3d70a1;
$formColor: #808080;
$textColor: #000;

// Brief Block

$widthBrief: 40%;
$briefFloat: left;
$briefMargin: 3px 10px 0 0;
