// Color

$bodyBg: rgba(198, 238, 252, 0.53);
$textColor: #fff;
$contentBg: #3b3b3b;
$hColor: #fccd10;
$briefBg: #fff178;
$tableColor: #94a34e;
$linkColor: #fccd10;
$formColor: #f5c70f;
$tableTdBg: #677d01;

// h style

$hTransform: uppercase;

// Brief Block

$widthBrief: 95%;
$briefMargin: 3px 0 35px 4px;
